@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Defqon';
  src: url('/assets/fonts/DefqonDisplay.woff2') format('woff2');
}

.defqon {
  font-family: 'Defqon', sans-serif;
}